/**
 *  GLOBAL STYLES
 */


html {
    /*font-size: 62.5%;*/
    font-size: 90%;
}

body {
    background-color: rgb(242,101,33);
    
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    
    padding: 0px;
}

h2 {
    /*font-size: 1.2em;*/
    
}

p {
    line-height: 140%;
}

/**
 *  HEADER
 */


header {
    background: url(/images/basic1/header-background.jpg) repeat-x top center;
    /*background: url(/images/header_bg.jpg) no-repeat center 0;*/
    height: 160px;
    margin: 0 0;
    position: relative;
}

header h1 {
    background: url(/images/basic1/header-h1-background.jpg) repeat-x top center;
    height: 160px;
    margin: 0 auto; 
    padding: 0;
    text-indent: -9999px;
    top: 0px;
    width: 800px;
    
}


/**
 *  NAVIGATION
 */

nav {
    /*background: url(/images/basic1/nav-background.jpg) repeat-x;*/
    bottom: 0px;
    height: 30px;
    margin: 0px auto 0 auto;
    padding: 0;
    position: relative;
    width: 800px;
}

nav ul {
    height: 30px;
    margin: 0;
    padding: 0 0 0 60px;
}

nav li {
    color: rgb(121,0,0);
    float: left;
    font-size: 1.3em;
    height: 30px;
    margin: 0;
    padding: 5px 20px 0 20px;
    list-style: none;
    
}

nav li.active {
    font-weight: bold;
}

/* All except first li
nav li + li {
    border-left: 1px solid white;
    padding-left: 20px;
} */

nav li a {
    /*color: white;*/
    color: rgb(121,0,0);
    text-decoration: none;
}



/**
 *  Default styles
 */
h2 {
    margin-left: 20px;
}

article h2 {
    margin-left: 0px;
}

img.about, img.default {
    border: 1px solid black;
    float: right;
    margin: 0 20px 0px 10px;
    padding: 2px;
}

img.books {
    border: 1px solid black;
    float: left;
    margin: 0 20px 0px 10px;
    padding: 2px;
}



/**
 *  MAIN CONTENT AREA
 */

section {
    background-color: white;
    margin: 0 auto;
    padding: 20px 0;
    width: 800px;
}


.page-home section {
    height: 400px;
}

.page-home article {

}

.page-blog section {

}


section article {
    margin: 0px;
    padding: 20px 80px;
}


/**
 *  RESUME
 */

body.page-resume section h2 {
    border-bottom: 1px solid #666;
    color: #666;
    margin-bottom: 40px;
    margin-right: 20px;
}

body.page-resume section p, body.page-resume section li {
    line-height: 140%;
}

body.page-resume article {
 
    padding: 0 50px 20px 140px;
}


/*
body.page-resume section h3 {
    font-size: 80%;
}


 */

/**
 *  BLOG
 */

body.page-blog {
    
}

body.page-blog article {
      
}



/**
 *  FOOTER
 */
footer {
    background-color: white;
    height: 80px;
    margin: -10px auto 0 auto;
    padding: 0;
    text-align: center;
    width: 800px;
}

footer ul {
    height: 60px;
    margin: 0 auto;
    position: relative;
    width: 400px;
}

footer li {
    float: center;
    font-size: 14px;
    list-style: none;
    margin: 2px 0px 0px 0px;
}

li.copyright {
    clear: both;
}



/**
 *  GALLERY
 */
article.gallery {
    padding-top: 30px;
}

article.gallery img {
    margin: 25px;
}

/**
 *  Facebook
 */
 
#fb_container_outer {
    margin: 0 auto;
    position: relative;
    top: 18px;
}

#fb_container_inner {
    margin: 0 auto;
    position: absolute;
    top: 18px;
}