/**
 *  GLOBAL STYLES
 */


html {
    /*font-size: 62.5%;*/
}

body {
    background-color: rgb(204,204,204);
    
    font-family: Verdana, Arial, Helvetica;
    margin: 0px;
    
    padding: 0px;
}


/**
 *  Default styles
 
h2 {
    font-size: 100%;
}
*/

/**
 *  HEADER
 */

header {
    background: url(/images/basic1/body-background.jpg) repeat-x top center;
    /*background: url(/images/header_bg.jpg) no-repeat center 0;*/
    height: 150px;
    margin: 0 0;
    position: relative;
}

header h1 {
    background: url(/images/basic1/header-background.jpg) repeat-x top center;
    height: 150px;
    margin: 0 auto; 
    padding: 0;
    text-indent: -9999px;
    top: 0px;
    width: 800px;
    
}


/**
 *  NAVIGATION
 */

nav {
    bottom: 0px;
    height: 30px;
    margin: -30px auto 0 auto;
    padding: 0;
    position: relative;
    width: 800px;
}

nav ul {
    height: 30px;
    margin: 0;
    padding: 0px;
}

nav li {
    float: left;
    margin: 4px 2px 4px 20px;
    list-style: none;
}

nav li + li {
    border-left: 1px solid white;
    padding-left: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
}




/**
 *  MAIN CONTENT AREA
 */

section {
    background-color: white;
    margin: 0 auto;
    padding: 20px 0;
    width: 800px;
}


.page-home section {
    height: 600px;
}

.page-blog section {

}


section article {
    margin: 20px;
}



/**
 *  RESUME
 */

body.page-resume section h2 {
    font-size: 100%;
}

body.page-resume section h3 {
    font-size: 80%;
}

body.page-resume section p, body.page-resume section li {
    font-size: 90%;
}


/**
 *  BLOG
 */

body.page-blog {
    
}

body.page-blog article {
      
}



/**
 *  FOOTER
 */
footer {
    clear: both;
    margin-top: 0px;
    text-align: center;
}

footer ul {
    height: 30px;
    width: 300px;
}

footer li {
    float: left;
    list-style: none;
    margin: 2px 0px 0px 20px;
}